* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100vw;
}

.container {
    width: 100%;
    max-width: 780px;
}

.header {

    display: flex;

}

.logo {
    padding: 10px;

}

.logo-image {
    width: 75px;
}

.info {
    padding: 10px;
}

.brand {
    font-size: 30px;
    font-weight: 500;
}

.title {
    font-size: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    text-decoration: none;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    color: black;
}

.button:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 500px) {
    .logo-image {
        width: 50px;
    }
    
    .brand {
        font-size: 25px;
        font-weight: 500;
    }
    
    .title {
        font-size: 15px;
    }

    .button {
        font-size: 12px;
    }
}
